<a href="https://colab.research.google.com/github/DomiAndi/Curso_Big_Data_y_Spark/blob/main/funcion_flatMap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://archive.apache.org/dist/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz

In [4]:
!tar xf spark-3.4.3-bin-hadoop3.tgz

In [6]:
# establecer variables de entorno:
import os
os.environ["JAVAHOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] =  "/content/spark-3.4.3-bin-hadoop3"

In [7]:
# descargar findspark, nos permite encontrar spark dentro de nuestra maquina
!pip install -q findspark

In [8]:
#descargar pyspark
!pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [9]:
# Transformaciones: función flatMap

import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

In [10]:
rdd = sc.parallelize([1,2,3,4,5])

In [11]:
rdd_cuadrado = rdd.map(lambda x: (x, x ** 2))

In [12]:
rdd_cuadrado.collect()

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [18]:
#Observamos que nos devuelve un resultado plano de ahi su nombre flatmap.
rdd_cuadrado_flat = rdd.flatMap(lambda x: (x, x ** 2))

In [14]:
rdd_cuadrado_flat.collect()

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [15]:
rdd_texto = sc.parallelize(['jose', 'juan', 'lucia'])

In [16]:
rdd_mayuscula = rdd_texto.flatMap(lambda x: (x, x.upper()))

In [17]:
rdd_mayuscula.collect()

['jose', 'JOSE', 'juan', 'JUAN', 'lucia', 'LUCIA']